<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:label="PinVault Demo"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.PinVaultDemo">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".TlsToTlsActivity" />
        <activity android:name=".TlsToMtlsActivity" />
        <activity android:name=".MtlsToTlsActivity" />
        <activity android:name=".MtlsToMtlsActivity" />
        <activity android:name=".VaultFileDemoActivity" />
        <activity android:name=".VaultSecurityDemoActivity" />

    </application>
</manifest>
